#nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #333;
    color: white; 
    width: 100%;
    height: 100px;

}
ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
   
}
li{
    margin: 0 15px;
}